@import url('https://fonts.googleapis.com/css?family=Audiowide|Cabin+Sketch|Comfortaa|Concert+One|Inconsolata');
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(49, 49, 49); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    border: none;
}

/* Modal Content */
.modal-content {
    background-color: #221414;
    margin: auto;
    padding: 20px;
    border: none;
    width: 100%;
}

/* Modal Header */
.modal-header {
    text-align: center;
    padding: 15px;
    background-color:lightcyan;
    color: white;
    border: none;

}

/* Modal Body */
.modal-body {
    padding: 20px;
    border: none;

}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(49, 49, 49, 0.4);
    font-family: monospace;
    font-weight: 500;
    word-wrap: normal;
    line-height: 1.7em;
    color: rgb(240, 240, 240);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.7s;
    font: bold;
    border: none;
}
#closespan {
    color:black; 
    cursor: pointer; 
    background: lightgreen; 
    padding: 5px; 
    border-radius:50%; 
    float: right; width: 35px; 
    vertical-align: middle; 
    font-weight:530;
    border: none;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}